@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */
@import 'tailwindcss/components';

/* insert apply rules here between components and utilities if needed */

@import 'tailwindcss/utilities';

/* purgecss start ignore */
/* @supports (position: sticky) {
  @media (min-width: 1024px) {
    .sticky\?lg\:h-\(screen-24\) {
      height: calc(100vh - 6rem);
    }
  }
} */
/* purgecss end ignore */

.empty-after:after {
  content: '';
}

.container-fluid {
  max-width: theme('screens.xl');
  margin: auto;
}

.container {
  width: 100%;
}

/* @media (min-width: 320px){
  .container{
    max-width: 320px;
  }
} */

@media (min-width: theme('screens.sm')) {
  .container {
    max-width: theme('screens.sm');
  }
}

@media (min-width: theme('screens.md')) {
  .container {
    max-width: theme('screens.md');
  }
}

@media (min-width: theme('screens.lg')) {
  .container {
    max-width: theme('screens.lg');
  }
}

@media (min-width: theme('screens.xl')) {
  .container {
    max-width: theme('screens.xl');
  }
}

/* for a sticky footer */
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
#__layout > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  min-width: 320px;
}

a,
.st-link {
  @apply text-link;
  @apply border-b;
  @apply border-transparent;
}

.st-link.nuxt-link-exact-active,
.st-link.nuxt-link-active {
  @apply text-link;
}

.opacity-transition {
  transition: opacity 0.5s ease-out;
}
