<template>
  <section class="container">
    <div>
      <logo />
      <h1 class="title">
        testt
      </h1>
      <h2 class="subtitle">
        Static Template Starter
      </h2>
      <st-link
        route="komponenten"
        aria="whateveer"
        class="hover:border-link transition-colors duration-300 ease-linear"
      >
        komponenten
      </st-link>
      {{ $route.query }}
      <!--         class="block p-2 font-semibold uppercase hover:no-underline light:hover:text-primary dark:hover:text-primary light:text-light-onSurface dark:text-dark-onSurface transition-colors duration-300 ease-linear" -->
      <div class="links">
        <a href="https://nuxtjs.org/" target="_blank" class="button--green"
          >Documentation</a
        >
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
          >GitHub</a
        >
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo,
  },
}
</script>

<style>
/* .container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
} */
</style>
