<template>
  <div
    v-editable="blok"
    :class="blok.options ? blok.options.componentClasses : ''"
    :style="blok.options ? blok.options.componentStyles : ''"
    class="is-box"
  >
    <template v-if="blok.content && blok.content.length">
      <component
        :is="componentBlok.component"
        v-for="componentBlok in blok.content"
        :key="componentBlok._uid"
        :blok="componentBlok"
      />
    </template>
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>
