<template>
  <div
    v-editable="blok"
    :class="`${blok.options ? blok.options.componentClasses : ''} ${
      blok.options ? blok.options.columnClasses : ''
    }`"
    class="column"
    :style="blok.options ? blok.options.componentStyles : ''"
  >
    <component
      :is="item.component"
      v-for="item in blok.content"
      :key="item._uid"
      :blok="item"
    />
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>
<style lang="scss" scoped>
.column {
  height: 100%;
}
</style>
