<template>
  <div
    v-editable="blok"
    :class="blok.options ? blok.options.componentClasses : ''"
    :style="blok.options ? blok.options.componentStyles : ''"
    class="grid"
  >
    <div
      :class="blok.options ? blok.options.gridClasses : ''"
      class="columns is-marginless is-variable"
    >
      <component
        :is="column.component"
        v-for="column in blok.columns"
        :key="column._uid"
        :blok="column"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>
<style lang="scss" scoped>
.grid {
  width: 100%;
  height: 100%;
}

.columns {
  width: 100%;
  height: 100%;
}
</style>
