<template>
  <section
    :id="blok.name"
    v-editable="blok"
    :class="blok.options ? blok.options.componentClasses : ''"
    :style="blok.options ? blok.options.componentStyles : ''"
  >
    <div
      :class="blok.options ? blok.options.gridClasses : ''"
      class="columns is-marginless is-variable"
    >
      <div
        :class="blok.options ? blok.options.columnClasses : ''"
        class="column pt-0 pb-0"
      >
        <app-link
          v-if="blok.route && (blok.route.id || blok.route.url)"
          :route="blok.route.cached_url"
          :aria="'hero'"
        >
          <div class="card-button hero">
            <component
              :is="componentBlok.component"
              v-for="componentBlok in blok.content"
              :key="componentBlok._uid"
              :blok="componentBlok"
            />
          </div>
        </app-link>
        <div v-else class="hero">
          <component
            :is="componentBlok.component"
            v-for="componentBlok in blok.content"
            :key="componentBlok._uid"
            :blok="componentBlok"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>
<style lang="scss" scoped>
.hero {
  position: relative;
}
</style>
