<template>
  <nuxt-link
    v-if="!isFake && hasLink && !isExternal"
    :v-editable="blok ? blok : null"
    :to="linkData.route"
    :aria-label="linkData.aria"
    class="st-link"
  >
    <template v-if="blok && !$slots.default">
      {{ blok.name }}
    </template>
    <slot v-else />
  </nuxt-link>
  <a
    v-else-if="!isFake && hasLink && isExternal"
    :v-editable="blok ? blok : null"
    :href="linkData.route"
    :aria-label="linkData.aria"
    :target="!isFuncLink ? '_blank' : ''"
    :rel="!isFuncLink ? 'nofollow noopener' : ''"
    class="st-link"
  >
    <template v-if="blok && !$slots.default">
      {{ blok.name }}
    </template>
    <slot v-else />
  </a>
  <div
    v-else-if="isFake && hasLink"
    :v-editable="blok ? blok : null"
    class="st-link cursor-pointer"
    :class="{ 'nuxt-link-exact-active': isActive }"
    @click="$router.push(linkData.route)"
  >
    <!-- @click="$goToLocalizedRoute(linkData.route) -->
    <template v-if="blok && !$slots.default">
      {{ blok.name }}
    </template>
    <slot v-else />
  </div>
  <div v-else :v-editable="blok ? blok : null" class="st-link">
    <template v-if="blok && !$slots.default">
      {{ blok && blok.name ? blok.name : '' }}
    </template>
    <slot v-else />
  </div>
</template>
<script>
export default {
  props: {
    blok: {
      type: Object,
      default() {
        return null
      },
    },
    route: {
      type: String,
      default() {
        return ''
      },
    },
    aria: {
      type: String,
      default() {
        return ''
      },
    },
    fake: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    linkData() {
      let linkData = {}
      if (this.blok) {
        linkData = {
          route: this.blok.route ? this.blok.route.cached_url : '',
          aria: this.blok.aria
            ? this.blok.aria
            : this.blok.name
            ? this.blok.name
            : '',
          fake: this.blok.fake ? this.blok.fake : false,
        }
      } else {
        linkData = {
          route: this.route,
          aria: this.aria ? this.aria : '',
          fake: this.fake ? this.fake : false,
        }
      }

      if (linkData.route.includes('/*')) {
        linkData.route = linkData.route.replace(
          '/*',
          `/${this.$getRoutePostLanguage(this.$route)}`
        )
      }

      return linkData
    },
    isExternal() {
      return (
        this.linkData.route &&
        ['http', 'mail', 'tel:'].includes(this.linkData.route.substr(0, 4))
      )
    },
    isFuncLink() {
      return (
        this.linkData.route &&
        (this.linkData.route.substr(0, 7) === 'mailto:' ||
          this.linkData.route.substr(0, 4) === 'tel:')
      )
    },
    hasLink() {
      return (
        (this.blok &&
          this.blok.route &&
          (this.blok.route.id || this.blok.route.url)) ||
        this.route
      )
    },
    isActive() {
      if (this.$route.path === this.linkData.route) {
        return true
      }
      return false
    },
    isFake() {
      return (this.blok && this.blok.fake) || this.fake
    },
  },
}
</script>
