<template>
  <div v-editable="blok">
    <component
      :is="componentBlok.component"
      v-for="componentBlok in allowedBloks"
      :key="componentBlok._uid"
      :blok="componentBlok"
    />
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  computed: {
    allowedBloks() {
      return this.blok.body
        ? this.blok.body.filter((blok) => blok.component !== 'page')
        : []
    },
  },
}
</script>
