<template>
  <footer
    :v-editable="footer[0]"
    class="footer z-10 relative border-t border-light-border dark:border-dark-border"
  >
    <!--     <newsletter-form /> -->
    <div
      class="bg-light-elevatedSurface dark:bg-dark-elevatedSurface shadow-nuxt transition-colors duration-300 ease-linear"
    >
      <div class="container mx-auto px-4">
        <div
          class="flex flex-col sm:flex-row text-center sm:text-left items-center content-center justify-between pt-10 sm:py-10"
        >
          <nav
            v-for="(l, title, index) in links"
            :key="title"
            class="flex-1 w-full sm:w-auto mb-8 sm:mb-0"
            :class="{
              'sm:text-center': index === 1,
              'sm:text-right': index === 2,
            }"
          >
            <h3
              class="font-bold uppercase text-light-onSurfacePrimary dark:text-dark-onSurfacePrimary text-lg pb-4 transition-colors duration-300 ease-linear"
            >
              {{ title }}
            </h3>
            <ul>
              <li v-for="(link, i) in l" :key="i" class="py-2">
                <a
                  v-if="link.href"
                  :href="link.href"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="light:hover:text-link dark:hover:text-link light:text-light-onSurface dark:text-dark-onSurface transition-colors duration-300 ease-linear"
                >
                  {{ link.key }}
                </a>
                <nuxt-link
                  v-else
                  :to="link.to"
                  class="light:hover:text-link dark:hover:text-link light:text-light-onSurface dark:text-dark-onSurface transition-colors duration-300 ease-linear"
                >
                  {{ link.key }}
                </nuxt-link>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div
        class="lg:border-t border-light-border dark:border-dark-border transition-colors duration-300 ease-linear"
      >
        <div
          class="container mx-auto px-4 flex flex-row items-center content-center justify-between py-4"
        >
          <div class="flex-1 flex">
            <!-- <dark-mode-toggle /> -->
            mode
          </div>
          <div class="flex-1 text-center hidden sm:block">
            <!--    <a
              class="block"
              href="/"
              @click.prevent="$router.push('/')"
              @click.right.stop.prevent="$router.push('/design')"
            >
              <h1 class="m-0 h-0 w-0 overflow-hidden">NUXTJS</h1> -->
            <nuxt-link
              class="inline-block text-nuxt-gray h-7 lg:h-10 z-10 mr-auto flex justify-center"
              to="/"
            >
              <!-- @click.native.right.stop.prevent="$router.push('/design')" -->
              <!-- <h1 class="m-0 h-0 w-0 overflow-hidden">NUXTJS</h1> -->
              logo
            </nuxt-link>
            <!--      <nui-logo
                class="h-6 lg:h-auto text-light-onSurfacePrimary dark:text-dark-onSurfacePrimary transition-colors duration-300 ease-linear"
              />
            </a> -->
          </div>
          <div class="flex-1 text-right">
            language
            <!-- <nui-select v-model="currentLang" :options="locales" label="Select language">
              <template v-slot:icon>
                <nui-globe />
              </template>
            </nui-select> -->
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
/* import nuiGlobe from '@/components/svg/Globe' */
/* import localeManager from '@/mixins/localeManager' */
/* import DarkModeToggle from '@/components/partials/DarkModeToggle' */
export default {
  components: {
    /* nuiGlobe, */
    /* DarkModeToggle */
  },
  mixins: [
    /* localeManager */
  ],
  data() {
    return {
      links: {
        discover: [
          { key: 'Design resources', to: '/design' },
          { key: 'A worldwide team', to: '/team' },
          { key: 'Blog', to: '/blog' },
        ],
        follow: [
          { key: 'GitHub', href: 'https://github.com/nuxt/nuxt.js' },
          { key: 'Twitter', href: 'https://twitter.com/nuxt_js' },
          { key: 'Discord', href: 'https://discord.nuxtjs.org' },
        ],
        support: [
          { key: 'Sponsor NuxtJS', to: '/sponsor-nuxtjs' },
          { key: 'The NuxtJS Shop', to: '/shop' },
          { key: 'NuxtJS Consulting', to: '/support' },
        ],
      },
    }
  },
  computed: {
    ...mapGetters({
      footer: 'footer',
    }),
  },
}
</script>
