<template>
  <header
    :v-editable="header[0]"
    class="fixed top-0 left-0 right-0 z-30 bg-light-elevatedSurface dark:bg-dark-elevatedSurface border-b border-light-border dark:border-dark-border h-16 lg:h-24 transition-colors duration-300 ease-linear"
  >
    <div
      class="container relative mx-auto px-4 flex items-center lg:py-6 h-full"
    >
      <!-- Logo -->
      <nuxt-link
        class="inline-block text-nuxt-gray h-7 lg:h-10 z-10 mr-auto flex items-center"
        to="/"
      >
        logo
      </nuxt-link>
      <!-- Center Navigation -->
      <nav class="hidden lg:flex lg:pt-1 xl:pt-0">
        <ul class="flex text-center">
          <!-- last item should not have padding right -->
          <template v-if="header && header[0] && header[0].links">
            <li
              v-for="(link, index) in header[0].links"
              :key="link.slug"
              class="lg:py-0 py-2"
              :class="{
                'xl:px-4 lg:px-2': index !== header[0].links.length - 1,
                'xl:pl-4 xl:pr-0 lg:pl-2 xl:pr-0':
                  index === header[0].links.length - 1,
              }"
            >
              <st-link
                :blok="link"
                class="block font-semibold uppercase light:hover:text-link dark:hover:text-link light:text-light-onSurface dark:text-dark-onSurface transition-colors duration-300 ease-linear"
                :class="{
                  'm-2': index !== header[0].links.length - 1,
                  'ml-2 mt-2 mb-2 mr-0': index === header[0].links.length - 1,
                }"
              />
            </li>
          </template>
        </ul>
      </nav>
      <!-- Algolia Search -->
      <!-- <algolia-search /> -->
    </div>
  </header>
</template>

<script>
import { mapGetters } from 'vuex'
/* import AlgoliaSearch from '@/components/partials/AlgoliaSearch' */
export default {
  components: {
    /*
    AlgoliaSearch */
  },
  computed: {
    ...mapGetters({
      header: 'header',
    }),
  },
}
</script>
